In [16]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
training=pd.read_csv('train.csv').copy()
testing=pd.read_csv('test.csv').copy()

In [17]:
training

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.0000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.0000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...
663,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.5000,NaN,S,1
664,3,"Morrow, Mr. Thomas Rowan",male,NaN,0,0,372622,7.7500,NaN,Q,0
665,3,"Bing, Mr. Lee",male,32.0,0,0,1601,56.4958,NaN,S,1
666,3,"Strandberg, Miss. Ida Sofia",female,22.0,0,0,7553,9.8375,NaN,S,0
667,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q,1

In [18]:
training['Ticket'].value_counts()

Ticket
1601                6
347082              6
3101295             6
CA. 2343            5
S.O.C. 14879        5
                   ..
368323              1
364512              1
347466              1
STON/O2. 3101271    1
367230              1
Name: count, Length: 524, dtype: int64

In [19]:
title_training=[]
for i in training['Name']:
    title_training.append(i.split(',')[1].split('.')[0].strip())
title_training=np.array(title_training)
title_training[title_training=='Master']=0
title_training[title_training=='Miss']=1
title_training[title_training=='Mr']=2
title_training[title_training=='Mrs']=3
title_training[(title_training!='0')&(title_training!='1')&(title_training!='2')&(title_training!='3')]=4
title_training=np.array(title_training, dtype='int')
title_training
#'Master', 'Miss', 'Mr', 'Mrs'

array([3, 2, 2, 3, 2, 2, 3, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 4, 3,
       3, 2, 3, 1, 2, 2, 2, 2, 3, 2, 2, 1, 4, 2, 0, 0, 2, 2, 2, 2, 3, 1,
       2, 2, 2, 2, 3, 2, 1, 0, 2, 3, 2, 1, 2, 2, 2, 3, 2, 2, 2, 3, 1, 3,
       2, 2, 2, 2, 3, 2, 2, 2, 2, 1, 1, 4, 3, 3, 3, 2, 3, 2, 1, 2, 2, 2,
       2, 2, 3, 3, 1, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2,
       1, 3, 2, 1, 2, 2, 2, 2, 1, 1, 3, 4, 1, 1, 1, 2, 2, 2, 2, 3, 2, 1,
       2, 2, 2, 3, 2, 2, 2, 4, 2, 3, 2, 2, 2, 2, 3, 2, 1, 1, 3, 2, 3, 1,
       3, 2, 3, 2, 1, 3, 3, 1, 2, 2, 2, 4, 2, 2, 2, 0, 2, 4, 3, 2, 4, 1,
       3, 2, 2, 2, 2, 1, 3, 2, 3, 0, 2, 1, 3, 2, 2, 1, 1, 2, 2, 2, 2, 2,
       2, 2, 1, 4, 1, 2, 1, 2, 3, 2, 2, 0, 3, 3, 1, 2, 1, 2, 2, 0, 1, 1,
       1, 2, 3, 2, 2, 2, 3, 2, 3, 2, 2, 0, 3, 2, 2, 2, 2, 3, 2, 1, 2, 2,
       2, 3, 2, 2, 1, 3, 1, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 3, 2, 2, 4,
       2, 2, 3, 2, 2, 2, 0, 0, 2, 3, 1, 2, 2, 0, 2, 2, 2, 3, 1, 2, 2, 1,
       1, 2, 2, 2, 1, 2, 2, 1, 3, 1, 0, 2, 2, 1, 2, 2, 0, 3, 2, 2, 2, 3,
       2, 1, 1, 2, 3, 2, 2, 2, 3, 2, 2, 2, 3, 2, 2, 0, 1, 2, 1, 3, 2, 3,
       3, 2, 4, 2, 1, 3, 1, 2, 2, 2, 2, 1, 2, 2, 4, 3, 1, 1, 2, 1, 2, 2,
       2, 2, 1, 2, 2, 2, 3, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 3, 3, 2, 2, 2, 2, 1, 2, 2, 1, 1, 1, 2, 1, 4, 1, 2, 2, 2,
       2, 1, 2, 3, 2, 0, 2, 2, 1, 1, 4, 1, 0, 3, 2, 2, 3, 2, 0, 1, 0, 3,
       2, 1, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 2, 3, 2, 1, 2, 0, 3, 1, 3,
       2, 2, 1, 2, 2, 3, 2, 2, 1, 1, 3, 1, 1, 2, 2, 3, 3, 2, 0, 2, 2, 2,
       3, 1, 2, 2, 1, 2, 2, 0, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2,
       2, 2, 2, 2, 3, 0, 2, 2, 1, 2, 2, 2, 3, 0, 2, 2, 2, 2, 2, 2, 2, 2,
       3, 2, 2, 2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 3,
       1, 3, 0, 2, 3, 2, 1, 1, 2, 1, 2, 2, 3, 2, 3, 2, 2, 0, 2, 1, 1, 2,
       2, 0, 2, 1, 3, 2, 1, 2, 3, 2, 2, 1, 2, 1, 2, 2, 3, 1, 2, 2, 2, 1,
       1, 2, 2, 2, 2, 1, 1, 3, 2, 2, 1, 2, 2, 1, 1, 1, 2, 0, 1, 3, 3, 1,
       2, 2, 2, 3, 4, 2, 2, 2, 2, 1, 2, 2, 1, 2, 1, 3, 2, 2, 2, 2, 3, 2,
       0, 2, 1, 2, 1, 2, 3, 3, 2, 4, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1,
       2, 3, 1, 2, 2, 2, 2, 0, 1, 2, 4, 2, 2, 2, 3, 3, 2, 2, 2, 2, 3, 2,
       0, 3, 2, 1, 2, 2, 1, 1])

In [20]:
testing

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,"Davies, Master. John Morgan Jr",male,8.0,1,1,C.A. 33112,36.7500,NaN,S
1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S
2,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q
3,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24.0,2,1,243847,27.0000,NaN,S
4,1,"McGough, Mr. James Robert",male,36.0,0,0,PC 17473,26.2875,E25,S
...,...,...,...,...,...,...,...,...,...,...
218,3,"Lindqvist, Mr. Eino William",male,20.0,1,0,STON/O 2. 3101285,7.9250,NaN,S
219,1,"Butt, Major. Archibald Willingham",male,45.0,0,0,113050,26.5500,B38,S
220,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.0,1,0,PC 17758,108.9000,C65,C
221,3,"Holm, Mr. John Fredrik Alexander",male,43.0,0,0,C 7075,6.4500,NaN,S
222,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0000,F2,S

In [21]:
title_testing=[]
for i in testing['Name']:
    title_testing.append(i.split(',')[1].split('.')[0].strip())
title_testing=np.array(title_testing)
title_testing[title_testing=='Master']=0
title_testing[title_testing=='Miss']=1
title_testing[title_testing=='Mr']=2
title_testing[title_testing=='Mrs']=3
title_testing[(title_testing!='0')&(title_testing!='1')&(title_testing!='2')&(title_testing!='3')]=4
title_testing=np.array(title_testing, dtype='int')
title_testing
#'Master', 'Miss', 'Mr', 'Mrs'

array([0, 4, 2, 3, 2, 2, 2, 2, 1, 2, 1, 2, 1, 1, 2, 2, 2, 0, 2, 1, 1, 2,
       1, 1, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 3, 1, 2, 2, 2, 1, 2, 4, 2,
       1, 0, 2, 1, 2, 2, 2, 1, 3, 1, 2, 2, 0, 2, 2, 2, 2, 4, 3, 1, 3, 2,
       2, 4, 1, 4, 2, 2, 2, 2, 2, 3, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1,
       2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 0, 1, 1, 2, 1, 0, 1, 1, 4, 4, 2, 2,
       2, 3, 3, 2, 3, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 3, 1, 2, 1, 2,
       1, 2, 2, 1, 2, 0, 2, 1, 3, 1, 1, 2, 2, 2, 3, 1, 3, 1, 1, 2, 1, 2,
       2, 2, 2, 1, 2, 2, 0, 1, 3, 2, 3, 2, 1, 2, 2, 2, 3, 2, 2, 1, 1, 1,
       3, 4, 2, 4, 2, 2, 2, 2, 2, 2, 3, 1, 2, 1, 2, 2, 1, 1, 2, 2, 2, 4,
       3, 2, 2])

In [22]:
training.describe(include='all')

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
count,668.000000,668,668,536.000000,668.000000,668.000000,668,668.000000,154,667,668.000000
unique,NaN,668,2,NaN,NaN,NaN,524,NaN,119,3,NaN
top,NaN,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",male,NaN,NaN,NaN,1601,NaN,G6,S,NaN
freq,NaN,1,427,NaN,NaN,NaN,6,NaN,4,484,NaN
mean,2.296407,NaN,NaN,29.700560,0.528443,0.407186,NaN,32.064552,NaN,NaN,0.402695
std,0.831638,NaN,NaN,14.240257,1.080327,0.854695,NaN,45.320835,NaN,NaN,0.490808
min,1.000000,NaN,NaN,0.670000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000
25%,2.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,7.925000,NaN,NaN,0.000000
50%,3.000000,NaN,NaN,29.000000,0.000000,0.000000,NaN,14.750000,NaN,NaN,0.000000
75%,3.000000,NaN,NaN,38.250000,1.000000,0.000000,NaN,31.275000,NaN,NaN,1.000000
max,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN,1.000000

In [23]:
testing.describe(include='all')

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,223.000000,223,223,178.000000,223.000000,223.000000,223,223.000000,50,222
unique,NaN,223,2,NaN,NaN,NaN,212,NaN,49,3
top,NaN,"Davies, Master. John Morgan Jr",male,NaN,NaN,NaN,CA 2144,NaN,B58 B60,S
freq,NaN,1,150,NaN,NaN,NaN,3,NaN,2,160
mean,2.345291,NaN,NaN,29.694775,0.506726,0.304933,NaN,32.622551,NaN,NaN
std,0.850047,NaN,NaN,15.398053,1.169700,0.634108,NaN,61.062047,NaN,NaN
min,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,2.000000,NaN,NaN,19.250000,0.000000,0.000000,NaN,7.879200,NaN,NaN
50%,3.000000,NaN,NaN,27.000000,0.000000,0.000000,NaN,12.475000,NaN,NaN
75%,3.000000,NaN,NaN,37.750000,1.000000,0.000000,NaN,30.035400,NaN,NaN
max,3.000000,NaN,NaN,71.000000,8.000000,2.000000,NaN,512.329200,NaN,NaN

In [24]:
tr=training
tr=tr.drop('Name', axis=1)
tr.loc[tr['Sex']=='female', 'Sex']=0
tr.loc[tr['Sex']=='male', 'Sex']=1
tr.loc[tr['Age'].isnull(), 'Age']=tr.loc[tr['Age'].notnull() , 'Age'].median()
tr.loc[tr['Embarked'].isnull(), 'Embarked']='S'
tr.loc[tr['Embarked']=='S', 'Embarked']=1
tr.loc[tr['Embarked']=='C', 'Embarked']=2
tr.loc[tr['Embarked']=='Q', 'Embarked']=3
tr.loc[tr['Cabin'].isnull(), 'Cabin']=0
tr.loc[tr['Cabin']!=0, 'Cabin']=1
tr=tr.drop('Ticket', axis=1)
# Set target variable
y = tr['Survived'].values.astype('int')

# Remove 'Survived' from features
x = tr.drop(['Survived'], axis=1).values

# Append title_training as an additional feature
x = np.append(x, title_training.reshape(-1, 1), axis=1)

x.shape

(668, 9)

In [25]:
ts=testing
ts=ts.drop('Name', axis=1)
ts.loc[ts['Sex']=='female', 'Sex']=0
ts.loc[ts['Sex']=='male', 'Sex']=1
ts.loc[ts['Age'].isnull(), 'Age']=ts.loc[ts['Age'].notnull() , 'Age'].median()
ts.loc[ts['Embarked'].isnull(), 'Embarked']='S'
ts.loc[ts['Embarked']=='S', 'Embarked']=1
ts.loc[ts['Embarked']=='C', 'Embarked']=2
ts.loc[ts['Embarked']=='Q', 'Embarked']=3
ts.loc[ts['Cabin'].isnull(), 'Cabin']=0
ts.loc[ts['Cabin']!=0, 'Cabin']=1
ts=ts.drop('Ticket', axis=1)
testing_data=ts.values
testing_data=np.append(testing_data, title_testing.reshape(-1, 1), axis=1)
testing_data.shape

(223, 9)

In [26]:
testing_data

array([[2, 1, 8.0, ..., 0, 1, 0],
       [1, 0, 49.0, ..., 1, 1, 4],
       [3, 1, 27.0, ..., 0, 3, 2],
       ...,
       [1, 0, 17.0, ..., 1, 2, 3],
       [3, 1, 43.0, ..., 0, 1, 2],
       [2, 1, 36.5, ..., 1, 1, 2]], dtype=object)

In [27]:
training_data

array([[2, 0, 29.0, ..., 0, 1, 1],
       [3, 1, 29.0, ..., 0, 1, 0],
       [2, 1, 39.0, ..., 0, 1, 0],
       ...,
       [3, 1, 32.0, ..., 0, 1, 1],
       [3, 0, 22.0, ..., 0, 1, 0],
       [3, 0, 29.0, ..., 0, 3, 1]], dtype=object)

In [28]:
clf=LogisticRegression(solver='saga', max_iter=100000, tol=0.00001)
clf.fit(x, y)

LogisticRegression(max_iter=100000, solver='saga', tol=1e-05)

In [30]:
clf2 = RandomForestClassifier(n_estimators=100, random_state=42)

In [31]:
predicted=clf.predict(testing_data)

In [32]:
np.savetxt(X=predicted, delimiter=',', fname='titanic predicted.csv', fmt='%.0f')